network/channel-artifacts/*.tx
network/channel-artifacts/*.block
network/ledgers
network/ledgers-backup
network/channel-artifacts/*.json
network/org3-artifacts/crypto-config/*
network/organizations/fabric-ca/ordererOrg/*
network/organizations/fabric-ca/org1/*
network/organizations/fabric-ca/org2/*
network/organizations/fabric-ca/org3/*
network/organizations/fabric-ca/org4/*
network/organizations/ordererOrganizations/*
network/organizations/peerOrganizations/*
network/system-genesis-block/*
web/backend/network.yaml
.vscode
/bin/*
appUser.id
*example.com.id
*~
*.tar.gz
log.txt

### Go ###
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

### Go Patch ###
/vendor/
/Godeps/

web/sample_files/*.jpeg

